@font-face {
    font-family: 'Blanka';
    src: url('fonts/blanka/Blanka.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    height: 100%;
    width: 100%;
    cursor: none;
}

.circ-cursor {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    left: 0;
    transition: width 1000ms, height 1000ms;
}

.circ-cursor-large {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid white;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    transform: translate(-17.5%, -21.5%);
    left: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(13, 14, 15);
    margin: 0 0 0 0;
    cursor: url(icons/cursor/cursor_light_small.png) 11 11, auto;
}

.nav-header {
    text-shadow: white 1px 0px 1px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 800px;
    padding: 20px 80px;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 15;
    border-bottom: 0.1px solid rgb(36, 36, 36);
}

.nav-logo a {
    text-shadow: white 1px 0px 15px;
    font-size: 26px;
    font-family: 'Blanka';
    color: white;
    text-decoration: none;
    font-weight: 700;
    cursor: url(icons/cursor/cursor_light_small.png) 11 11, auto;
}

.nav-bar a {
    text-shadow: white 1px 0px 1px;
    color: white;
    font-family: 'Blanka';
    position: relative;
    font-size: 14px;
    font-weight: 200;
    text-decoration: none;
    margin-left: 40px;
    white-space: nowrap;
    cursor: url(icons/cursor/cursor_light_small.png) 11 11, auto;
}

.nav-bar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: 2s;
}

.nav-bar a:hover::before {
    width: 100%;
}

#active {
    color: white;
    text-shadow: white 1px 4px 10px;
}

.nav-bar a:hover::before + #active {
    width: 100%;
}

.petition {
    width: 100%;
    padding: 20px 20px;
    background-color: white;
    margin: 50px 50px;
}

.petition-content {
    width: 100%;
    display: flex;
    font-size: 12px;
}

.call-to-action {
    flex: 1;
    width: 50%;
    padding: 0px 20px;
}

.call-to-action h1 {
    font-size: 20px;
}

.call-to-action p {
    width: 100%;
}

.signatures {
    flex: 1;
    width: 50%;
    padding: 0px 20px;
}

.bg {
    height: 400px;
    width: 100%;
    background-image: url(bg.svg);
    position: relative;
    overflow: hidden;
    background-repeat: repeat;
}

.title-block {
    height: 100vh;
}

.title {
    text-shadow: black 2px 2px 1px;
    position: absolute;
    color: white;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 150px;
    font-family: 'Blanka';
    letter-spacing: -1%;
    z-index: 5;
}

.intro-block {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(images/bg.svg);
    background-repeat: repeat;
    mask-image: url(images/mask.svg);
    mask-repeat: repeat-x;
    -webkit-mask-repeat: repeat-x;
    -webkit-mask-image: url(images/mask.svg);
    z-index: 4;
}

.intro {
    color: white;
    width: 50%;
    font-size: 32px;
    font-weight: 500;
    padding: 30px;
    border-radius: 25px;
    letter-spacing: -2px;
    line-height: 32px;
}

.nav-block {
    top: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-block a {
    width: fit-content;
    height: fit-content;
    color: white;
    font-family: 'Blanka';
    position: relative;
    font-size: 32px;
    font-weight: 200;
    text-decoration: none;
    margin-left: 40px;
    white-space: nowrap;
    cursor: url(icons/cursor/cursor_light_small.png) 11 11, auto;
}

.nav-block a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: 1.5s;
}

.nav-block a:hover::before {
    width: 100%;
}

.petition-block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 75px;
}

.petition-text {
    width: 110%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.petition-call-to-action {
    width: 40%;
    color: white;
    align-items: center;
}

.petition-call-to-action h1 {
    text-shadow: white 1px 0 1px;
    font-family: 'blanka';
    font-size: 32px;
}

.petition-call-to-action p {
    font-size: 28px;
    font-weight: 500;
}

.petition-signatures {
    max-height: 30%;
    font-size: 18px;
    color: white;
    list-style: none;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
    -webkit-mask-image: linear-gradient(
        rgba(0, 0, 0, 0.1),
        black,
        black,
        rgba(0, 0, 0, 0.1)
    );
    mask-image: linear-gradient(
        rgba(0, 0, 0, 0.1),
        black,
        black,
        rgba(0, 0, 0, 0.1)
    );
}

.petition-signatures::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.petition-signatures li {
    padding: 8px;
}

#signatures {
    color: rgb(221, 213, 194);
    font-weight: bold;
    text-shadow: rgb(221, 213, 194) 1px 0 1px;
}

.petition-form {
    height: fit-content;
    width: 90%;
    padding: 0px 50px;
}

.petition-form ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.petition-form ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2.5px 10px;
    border-radius: 10px;
}

#submit {
    background-color: transparent;
    background-image: none;
}

.petition-form ul li label {
    color: white;
    text-align: center;
    width: fit-content;
    padding: 0 5px;
    z-index: 1;
    margin-left: 5px;
    margin-bottom: -10px;
    font-size: 18px;
    font-family: 'blanka';
    cursor: url(icons/cursor/cursor_light_small.png) 11 11, auto;
}

.petition-form ul li input {
    height: 25px;
    width: 250px;
    padding: 0 5px;
    background-color: white;
    border-color: white;
    border-width: 3px;
    border-radius: 3px;
    transition: 2s;
}

.petition-form ul li input:focus {
    outline: none;
    border-color: red;
}

.petition-form ul li input[type='submit'] {
    font-family: 'blanka';
    font-size: 18px;
    height: 70px;
    width: 150px;
    padding: 0 5px;
    border-width: 3px;
    border-radius: 20px;
    background-color: white;
    border-color: white;
    transition: 2s;
}

.petition-form ul li input[type='submit']:hover {
    background-color: red;
    border-color: red;
    cursor: url(icons/cursor/cursor_light_small.png) 11 11, auto;
}

.footer {
    min-width: 800px;
    height: 30vh;
    background-color: black;
    border-top: 0.1px solid rgb(36, 36, 36);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 60px 30px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer h3 {
    font-size: 15px;
    font-family: 'Blanka';
    color: white;
}

.footer-nav a {
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.footer a:hover::before {
    width: 0%;
}

.footer-newsletter {
    height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.newsletter ul {
    list-style: none;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.newsletter ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.newsletter ul li label {
    color: white;
    text-align: center;
    width: fit-content;
    padding: 0 5px;
    z-index: 1;
    margin-left: 5px;
    margin-bottom: -0px;
    font-size: 15px;
    cursor: url(icons/cursor/cursor_light_small.png) 11 11, auto;
}

.newsletter ul li input {
    height: 25px;
    width: 250px;
    padding: 3 5px;
    background-color: white;
    border-color: white;
    border-width: 3px;
    border-radius: 3px;
    text-align: center;
    transition: 2s;
}

.newsletter ul li input:focus {
    outline: none;
    border-color: red;
    background-color: white;
}

.newsletter input[type='submit'] {
    height: fit-content;
    width: fit-content;
    padding: 2px 10px;
    font-family: 'blanka';
    background-color: white;
    border-color: white;
    border-width: 3px;
    border-radius: 8px;
    text-align: center;
    transition: 2s;
}

.newsletter input[type='submit']:hover {
    background-color: red;
    border-color: red;
    cursor: url(icons/cursor/cursor_light_small.png) 11 11, auto;
}

.footer-contact {
    height: 110%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.location {
    color: white;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.social-media img {
    height: 50px;
}

.social-media a {
    text-decoration: none;
}

.temp {
    width: 25%;
    height: 70%;
    background-color: white;
}

.temp-content {
    height: 90vh;
}

.revealable {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.active {
    transform: translateY(0px);
    opacity: 1;
}

.modal {
    display: flex; /* hides the modal from view by default */
    position: fixed; /* keeps the modal in one place */
    z-index: 20; /* positions the modal on top of all other elements on the screen */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    margin: auto;
}

.modal-exit {
    position: absolute;
    top: 5%;
    left: 95%;
    background: none;
    border: none;
    color: white;
    height: fit-content;
    width: fit-content;
    font-size: 40px;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 35%;
    height: fit-content;
    display: flex;
    flex-direction: column; /* these flexbox rules center the content on the screen */
    align-items: center;
    justify-content: space-around;
}

.modal-content-text {
    width: 100%;
    padding: 15px;
}

.modal-content-text h1 {
    font-family: 'blanka';
}

.modal-form {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal-form ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2.5px 5px;
}

.modal-form ul li label {
    color: black;
    width: fit-content;
    padding: 0 5px;
    z-index: 1;
    margin-left: 5px;
    margin-bottom: 0px;
    font-size: 14px;
    font-family: 'blanka';
    cursor: url(icons/cursor/cursor_light_small.png) 11 11, auto;
}

.modal-form ul li input {
    border-width: 2px;
    height: 25px;
    width: 100%;
    transition: 2s;
}

.modal-form ul li input[type='submit'] {
    border-width: 2px;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    transition: 2s;
    font-size: 14px;
}
