@font-face {
	font-family: "Blanka";
	src: url('fonts/blanka/Blanka.otf');
}

html {
  height: 100%;
  width: 100%;
  cursor: none;
}

.circ-cursor {
	background-color: white;
	border:1px solid white;    
	height:30px;
	width:30px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	position: absolute;
	z-index: 1000;
	pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
}

body {
  min-height: 100vh;
  background-color: black;
  width: 100%;
  margin: 0 0 0 0;
  
}

.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 800px;
  padding: 20px 80px;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav-logo a {
	font-size: 26px;
	font-family: "Blanka";
	color:  white;
	text-decoration: none;
	font-weight: 700;
}

.nav-bar a {
	color: white;
	font-family: "Blanka";
	position: relative;
	font-size: 14px;
	font-weight: 200;
	text-decoration: none;
	margin-left: 40px;
	white-space:nowrap;

}

.nav-bar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: .3s;
}

.nav-bar a:hover::before {
  width: 100%;
}

.content{
  margin-top: 70px;
}

.slogan {

}

.petition {
  width: 100%;
  padding: 20px 20px;
  background-color: white;
  margin: 50px 50px;
}

.petition-content {
	width: 100%;
	display: flex;
	font-size: 12px;
}

.call-to-action {
	flex: 1;
	width: 50%;
	padding: 0px 20px;
}

.call-to-action h1 {
	font-size: 20px;
}

.call-to-action p {
	width: 100%;
}

.signatures {
	flex: 1;
	width: 50%;
	padding: 0px 20px;
}

.petition-form ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 10px 10px;
	font-size: 10px;
}
  
.petition form li {
	display: flex;
	flex-direction: column;
}

.petition form li:last-child {
	margin-top: 8px;
}
  
.petition form li label {
	text-align: center;
	width: fit-content;
	padding: 0 5px;
	z-index: 1;
	background-color: white;
	margin-left: 5px;
	margin-bottom: -4px; /* Adjust the top margin for the label */
}
  
.petition form li input {
	width: 80%;
	padding: 0 5px;
	height: 20px;
	font-size: 10px;

}

.petition form li input:focus {
	width: 80%;
	padding: 0 5px;
	height: 20px;
	font-size: 10px;
	border-color: red;
}


.petition form li input[type="submit"]{
	background-color: black;
	width: fit-content;
	padding: 2px 5px;
	height: 20px;
	font-size: 10px;
	color: white;
}

.petition form li input[type="submit"]:hover{
	background-color: black;
	width: fit-content;
	padding: 2px 5px;
	height: 20px;
	font-size: 10px;
	background-color: red;
}

